{% extends 'security/base.html.twig' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
        {% for field in registrationForm %}
            {% if(field.vars.block_prefixes.1 != 'hidden') %}
            <div class="form-label-group">
                {{ form_widget(field) }}
                {{ form_label(field) }}
            </div>
            {% endif %}
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Регистрация</button>
        <hr class="my-4">
        <div class="text-center"><a href="{{ path('app_login') }}">Я уже зарегистрирован</a></div>
    {{ form_end(registrationForm) }}

{% endblock %}