{% extends 'dashboard/base.html.twig' %}
{% block title %}Подписка{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-xl-8">
            {% if(tariff is not null) %}
                <div class="alert alert-success" role="alert">Подписка {{ tariff }} оформлена, до {{ app.user.subscribeTo }}</div>
            {% endif %}
            <section class="pricing py-2 row">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase text-center text-{{ tariff is null ? 'warning' : 'muted' }}">
                                        {% if tariff is null %}<i class="fas fa-check"></i>{% endif %} Free
                                    </h5>
                                    <h6 class="card-price text-center">$0<span class="period">/неделя</span></h6>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать более 1 статьи</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Продвинутые возможности генератора</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои модули</li>
                                    </ul>
                                    {% if is_granted('TARIFF_PLUS') == false %}
                                        <a href="javascript:void(0)" class="btn btn-block btn-secondary text-uppercase" disabled="">Текущий уровень</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-5 mb-lg-0">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase text-center current text-{{ tariff == 'plus' ? 'warning' : 'muted' }}">
                                        {% if tariff == 'plus' %}<i class="fas fa-check"></i>{% endif %} Plus
                                    </h5>
                                    <h6 class="card-price text-center">$9<span class="period">/неделя</span></h6>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Возможность создать более 1 статьи</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые возможности генератора</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Свои модули</li>
                                    </ul>
                                    {% if is_granted('TARIFF_PLUS') %}
                                        <a href="javascript:void(0)" class="btn btn-block btn-secondary text-uppercase" disabled="">Текущий уровень</a>
                                    {% else %}
                                        <a href="{{ path('app_subscribe', {'tariff': 'plus'}) }}" class="btn btn-block btn-primary text-uppercase">Оформить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center  text-{{ tariff == 'pro' ? 'warning' : 'muted' }}">
                                        {% if tariff == 'pro' %}<i class="fas fa-check"></i>{% endif %} Pro
                                    </h5>
                                    <h6 class="card-price text-center">$49<span class="period">/неделя</span></h6>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Безлимитная генерация статей для вашего аккаунта</strong></li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Базовые возможности генератора</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Продвинутые возможности генератора</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Свои модули</li>
                                    </ul>
                                    {% if is_granted('TARIFF_PRO') %}
                                        <a href="javascript:void(0)" class="btn btn-block btn-secondary text-uppercase" disabled="">Текущий уровень</a>
                                    {% else %}
                                        <a href="{{ path('app_subscribe', {'tariff': 'pro'}) }}" class="btn btn-block btn-primary text-uppercase">Оформить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}